.weather-app {
    text-align: center;
    width: 100%;
    /* background-image: url("https://cdn.dribbble.com/users/3639405/screenshots/8761499/media/9badcccb740ab6cfceda0e5d25bf87a4.jpg?resize=400x0");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #007bff;
}

form {
    margin-bottom: 30px;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(-n+3) {
    background-color: #F7F7FC;
}

tbody tr:not(:nth-child(even)):hover {
    background-color: #ccc;
}

.suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
    width: 100%;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {

    .weather-app {
        background-size: cover;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="text"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 320px) {
    .weather-app {
        background-size: cover;
    }

    h1 {
        font-size: 20px;
    }

    input[type="text"] {
        font-size: 12px;
    }

    td {
        padding: 10px;
    }

    th {
        padding: 2px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }
}